





p , span {


    color: red;
    width: 300px;
}

/**
esto es un comentario dentro de un documento de css
*/

h1{
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 20px;
    font-weight: bold;
    color:gray;

}



section {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }


  #mi_parrafo{

    color: blueviolet;
    font-size: 23px;
    border: 1px solid olive
  }

  .estaesmiclase {
    font-weight: bold;
    color: lightseagreen

  }